@import "assets/styles/variables.scss";

.top-bets-title {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
}

div[infiniteScroll] {
  margin: 10px 15px;
}

.top-bets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  margin-left: 16px;
}

.display-more {
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
  border-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 14rem;
  padding: 9px;
}

app-bet {
  width: 100%;
}


